@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
:root {
  --mainGreen: rgba(49, 175, 49, 0.938);
  --mainMagenta: rgba(207, 20, 176, 0.761);
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: 'Nanum Gothic', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Courgette', cursive;
  letter-spacing: 0.25rem!important;
}

.text-magenta {
  color: var(--mainMagenta);
}

.cart-icon {
  cursor: pointer;
  color: var(--mainMagenta);
  font-size: 2rem;
}

.square {
  width: 30px;
  height: 30px;
}

.tshadow {
  text-shadow: 2px 2px 8px #1d1818;
}

.default-background, .about-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(49, 175, 49, 0.5), rgba(49, 175, 49, 0.5));
  background-position: center;
  background-size: cover;
}

.about-background {
  min-height: 60vh;
}

.btn-magenta {
  color: var(--mainMagenta);
  border-color: var(--mainMagenta);
}

.btn-magenta:hover {
  background: var(--mainMagenta);
  color: var(--mainWhite);
}

.footer {
  background: rgba(49, 175, 49, 0.4);
}

.menu, .contact {
  background: var(--mainGrey);
}