:root {
  --mainGreen: #31af31;
  --mainMagenta: #cf14b0c2;
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
  --Courgette: <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--Courgette) !important;
  letter-spacing: 0.25rem!important;
}

.text-magenta {
  color: var(--mainMagenta);
}

.cart-icon {
  cursor: pointer;
  color: var(--mainMagenta);
  font-size: 2rem;
}

.square {
  width: 30px;
  height: 30px;
}